<!-- Block: OCFilter sidebar — replace asset src with local files in production -->
<aside class="cat2-filter" aria-label="Фильтр каталога">
  <div class="cat2-filter__head">
    <img
      class="cat2-filter__icon"
      src="https://www.figma.com/api/mcp/asset/5ae1f1da-4a32-4d00-a66d-a459c756ff0e"
      width="16"
      height="16"
      alt=""
      decoding="async"
    />
    <p class="cat2-filter__title">Фильтр</p>
  </div>
  <form class="cat2-filter__form" action="#" method="get" id="cat2-filter-form">
    <fieldset class="cat2-filter__section">
      <legend class="cat2-filter__section-title">Тип</legend>
      <ul class="cat2-filter__options">
        <li class="cat2-filter__option">
          <label class="cat2-filter__label">
            <input class="cat2-filter__checkbox" type="checkbox" name="type[]" value="m1kl" />
            <span class="cat2-filter__label-text">Технический 1-го<br />класса</span>
          </label>
        </li>
        <li class="cat2-filter__option">
          <label class="cat2-filter__label">
            <input class="cat2-filter__checkbox" type="checkbox" name="type[]" value="m1r" />
            <span class="cat2-filter__label-text">Эталонный 1-го<br />разряда</span>
          </label>
        </li>
        <li class="cat2-filter__option">
          <label class="cat2-filter__label">
            <input class="cat2-filter__checkbox" type="checkbox" name="type[]" value="m2r" />
            <span class="cat2-filter__label-text">Эталонный 2-го<br />разряда</span>
          </label>
        </li>
      </ul>
    </fieldset>
    <fieldset class="cat2-filter__section">
      <legend class="cat2-filter__section-title">Объем</legend>
      <ul class="cat2-filter__options">
        <li class="cat2-filter__option cat2-filter__option--compact">
          <label class="cat2-filter__label">
            <input class="cat2-filter__checkbox" type="checkbox" name="volume[]" value="2" />
            <span class="cat2-filter__label-text">2 литра</span>
          </label>
        </li>
        <li class="cat2-filter__option cat2-filter__option--compact">
          <label class="cat2-filter__label">
            <input class="cat2-filter__checkbox" type="checkbox" name="volume[]" value="5" />
            <span class="cat2-filter__label-text">5 литров</span>
          </label>
        </li>
        <li class="cat2-filter__option cat2-filter__option--compact">
          <label class="cat2-filter__label">
            <input class="cat2-filter__checkbox" type="checkbox" name="volume[]" value="10" />
            <span class="cat2-filter__label-text">10 литров</span>
          </label>
        </li>
        <li class="cat2-filter__option cat2-filter__option--compact">
          <label class="cat2-filter__label">
            <input class="cat2-filter__checkbox" type="checkbox" name="volume[]" value="20" />
            <span class="cat2-filter__label-text">20 литров</span>
          </label>
        </li>
        <li class="cat2-filter__option cat2-filter__option--compact">
          <label class="cat2-filter__label">
            <input class="cat2-filter__checkbox" type="checkbox" name="volume[]" value="50" />
            <span class="cat2-filter__label-text">50 литров</span>
          </label>
        </li>
        <li class="cat2-filter__option cat2-filter__option--compact">
          <label class="cat2-filter__label">
            <input class="cat2-filter__checkbox" type="checkbox" name="volume[]" value="100" />
            <span class="cat2-filter__label-text">100 литров</span>
          </label>
        </li>
        <li class="cat2-filter__option cat2-filter__option--compact">
          <label class="cat2-filter__label">
            <input class="cat2-filter__checkbox" type="checkbox" name="volume[]" value="200" />
            <span class="cat2-filter__label-text">200 литров</span>
          </label>
        </li>
        <li class="cat2-filter__option cat2-filter__option--compact">
          <label class="cat2-filter__label">
            <input class="cat2-filter__checkbox" type="checkbox" name="volume[]" value="500" />
            <span class="cat2-filter__label-text">500 литров</span>
          </label>
        </li>
        <li class="cat2-filter__option cat2-filter__option--compact">
          <label class="cat2-filter__label">
            <input class="cat2-filter__checkbox" type="checkbox" name="volume[]" value="750" />
            <span class="cat2-filter__label-text">750 литров</span>
          </label>
        </li>
        <li class="cat2-filter__option cat2-filter__option--compact">
          <label class="cat2-filter__label">
            <input class="cat2-filter__checkbox" type="checkbox" name="volume[]" value="1000" />
            <span class="cat2-filter__label-text">1000 литров</span>
          </label>
        </li>
      </ul>
      <button type="button" class="cat2-filter__more">
        Показать еще 3
        <img
          class="cat2-filter__more-icon"
          src="https://www.figma.com/api/mcp/asset/6521d6cc-6e1a-407b-951d-4b73e4d600d9"
          width="12"
          height="12"
          alt=""
          decoding="async"
        />
      </button>
    </fieldset>
    <fieldset class="cat2-filter__section">
      <legend class="cat2-filter__section-title">Материал изготовления</legend>
      <ul class="cat2-filter__options">
        <li class="cat2-filter__option cat2-filter__option--compact">
          <label class="cat2-filter__label">
            <input class="cat2-filter__checkbox" type="checkbox" name="material[]" value="ss" />
            <span class="cat2-filter__label-text">Нержавеющая сталь</span>
          </label>
        </li>
        <li class="cat2-filter__option cat2-filter__option--compact">
          <label class="cat2-filter__label">
            <input class="cat2-filter__checkbox" type="checkbox" name="material[]" value="cs" />
            <span class="cat2-filter__label-text">Углеродистая сталь</span>
          </label>
        </li>
      </ul>
    </fieldset>
    <fieldset class="cat2-filter__section">
      <legend class="cat2-filter__section-title">Слив</legend>
      <ul class="cat2-filter__options">
        <li class="cat2-filter__option cat2-filter__option--compact">
          <label class="cat2-filter__label">
            <input class="cat2-filter__checkbox" type="checkbox" name="drain[]" value="top" />
            <span class="cat2-filter__label-text">Верхний</span>
          </label>
        </li>
        <li class="cat2-filter__option cat2-filter__option--compact">
          <label class="cat2-filter__label">
            <input class="cat2-filter__checkbox" type="checkbox" name="drain[]" value="bottom" />
            <span class="cat2-filter__label-text">Нижний</span>
          </label>
        </li>
      </ul>
    </fieldset>
    <fieldset class="cat2-filter__section">
      <legend class="cat2-filter__section-title">Оснащение</legend>
      <ul class="cat2-filter__options">
        <li class="cat2-filter__option cat2-filter__option--compact">
          <label class="cat2-filter__label">
            <input class="cat2-filter__checkbox" type="checkbox" name="equipment[]" value="no-foam" />
            <span class="cat2-filter__label-text">Без пеногасителя</span>
          </label>
        </li>
        <li class="cat2-filter__option cat2-filter__option--compact">
          <label class="cat2-filter__label">
            <input class="cat2-filter__checkbox" type="checkbox" name="equipment[]" value="foam" />
            <span class="cat2-filter__label-text">С пеногасителем</span>
          </label>
        </li>
        <li class="cat2-filter__option cat2-filter__option--compact">
          <label class="cat2-filter__label">
            <input class="cat2-filter__checkbox" type="checkbox" name="equipment[]" value="scale" />
            <span class="cat2-filter__label-text">Со спецшкалой</span>
          </label>
        </li>
      </ul>
    </fieldset>
    <fieldset class="cat2-filter__section">
      <legend class="cat2-filter__section-title">Погрешность, %</legend>
      <ul class="cat2-filter__options">
        <li class="cat2-filter__option cat2-filter__option--compact">
          <label class="cat2-filter__label">
            <input class="cat2-filter__checkbox" type="checkbox" name="error[]" value="0.1" />
            <span class="cat2-filter__label-text">0,1%</span>
          </label>
        </li>
        <li class="cat2-filter__option cat2-filter__option--compact">
          <label class="cat2-filter__label">
            <input class="cat2-filter__checkbox" type="checkbox" name="error[]" value="0.05" />
            <span class="cat2-filter__label-text">0,05%</span>
          </label>
        </li>
        <li class="cat2-filter__option cat2-filter__option--compact">
          <label class="cat2-filter__label">
            <input class="cat2-filter__checkbox" type="checkbox" name="error[]" value="0.02" />
            <span class="cat2-filter__label-text">0,02%</span>
          </label>
        </li>
        <li class="cat2-filter__option cat2-filter__option--compact">
          <label class="cat2-filter__label">
            <input class="cat2-filter__checkbox" type="checkbox" name="error[]" value="0.2" />
            <span class="cat2-filter__label-text">0,20%</span>
          </label>
        </li>
      </ul>
    </fieldset>
    <div class="cat2-filter__footer">
      <button type="submit" class="cat2-filter__submit">Выберите фильтры</button>
      <button type="reset" class="cat2-filter__reset" form="cat2-filter-form">Сбросить</button>
    </div>
  </form>
</aside>
